{"rulebase":{"rulesConfig":[{"assetId":"Any","assetName":"Any","ruleId":"Any","ruleName":"Any","context":"All()","priority":1,"isCleanup":false,"parameters":[],"practices":[{"practiceId":"b06b9e00-d5fd-4cd7-827c-50e675addc87","practiceName":"local_policy/webapp-default-practice","practiceType":"WebApplication"}],"triggers":[{"triggerId":"d193ae3a-8c71-4f0e-b036-ca658a02bc3d","triggerName":"local_policy/appsec-default-log-trigger","triggerType":"log"},{"triggerId":"8250601a-c001-46f9-b0cb-eaa65910eb39","triggerName":"local_policy/appsec-default-web-user-response","triggerType":"WebUserResponse"}],"zoneId":"","zoneName":""}],"usersIdentifiers":[]}}